<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head th:include="layout :: htmlhead"></head>

    <body>
        <div class="container">
            <nav th:replace="layout :: menu">(menu)</nav>
            <h1>Alimentos</h1>
            <table class="table">
                <thead class="thead-light">
                    <th socpe="col">Alimentos</th>
                    <th socpe="col">Proporção</th>
                    <th socpe="col">Carboidratos</th>
                    <th socpe="col">Medida (g/ml)</th>
                </thead>
                <tbody>
                    <tr socpe="row"  th:each="umalimento : ${listaalimentos}">
                        <td th:text="${umalimento.nomeAlimento}"></td>
                        <td th:text="${umalimento.proporcao}"></td>
                        <td th:text="${umalimento.valorCarb}"></td>
                        <td th:text="${umalimento.medida}"></td>
                    </tr>    
                </tbody>
            </table>
        </div>
        <div th:include="layout :: footer" id="footer">(footer)</div>
    </body>
</html>